/*Home */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 150px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(248, 248, 248);
  height: 100vh;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background:rgb(16, 32, 45);
}

#logo {
  width: 355px;
  height: 243px;
  top: 198px;
  left: 542px;
}
    
.search-container {
  width: 320px;
  height: 40px;
  top: 462px;
  left: 540px;
  border-radius: 28px;
  gap: 4px;
  text-align: center;
  background-color: #f6effa;
  border-color: #f6effa; 
}

button {
  font-size: 16px;
  cursor: pointer;
  color: #f9faf9; 
  border: none; 
  background-color: #63027C;
  width: 100px; 
  height: 30px;
  top: 530px;
  left: 670px;
  border-radius: 200px;
}


/*Sidebar */

.sidebar {
  background-color: rgba(100, 2, 124, 1);
  position: fixed;
  height: 100vh;
  width: 180px;
  color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border-right: 3px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.sidebar:hover {
  border-right: 6px solid rgba(255, 255, 255, 0.6); 
  box-shadow: 10px 0 12px rgba(0, 0, 0, 0.2);
}

.img-sidebar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 1);
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.user-sidebar{
  font-size: 1.150rem;
  text-align: center;
  color: white
}

.local-sidebar{
  font-size: 0.875rem;
  color: #ccc;
  margin-bottom: 3rem;
  margin-top: 0.1rem; 
  text-align: center;
}

.infos-sidebar{
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: 1.50rem;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0.7rem 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.link-search {
  color: white;
  text-decoration: none;
  margin: 0 1.5rem;
  margin-top: 190px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.pdf-sidebar{
  background: none;
  border: none;
  color: white;
  margin: 0.5rem 1.1rem;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}


/*Tela-Perfil */

.user{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: rgb(255, 255, 255);
  gap: 16px;
  background-color: white;
  margin-left: 210px;
} 

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 260vh;
}

.statistics-title {
  font-size: 2rem;
  font-weight: bold;
  color: #63027C;
  text-align: center;
  margin-bottom: 2rem;
}

.summary-user {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  background-color: rgb(245, 236, 245);
  border-radius: 16px;
  border: 1px solid #63027C;
  box-shadow: 0 0 8px 2px rgba(25, 25, 26, 0.3);
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 12px 4px rgba(99, 2, 124, 0.5);
}

.dados {
  background-color: #fbfbfb;
  border-radius: 50%;
  width: 50px;
  height: 40px;
  display: flex;                
  align-items: center;         
  justify-content: center;     
  font-size: medium;
  font-weight: bold;
  color: #333;
  border: 1px solid #63027C;
  margin: auto;
  text-align: center;
}

div{
  color: black;
}

.summary-pr {
  display: grid;
  background-color: #d9d9d9;
  border-radius: 15px;
  grid-template-columns:repeat(2,1fr);
  gap: 5px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  width: 100%;
}

.statistics-user {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
}

.grafics-user {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 725px;
  margin-left: -50px;
}

.grafics1-user {
  padding: 1.2rem;
  margin-left: 10px;
  width: 725px;
}

.grafics3-user {
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.grafics2-user {
  flex: 1 1 300px;
  min-width: auto;
  max-width: 100%;
  padding: 18px; 
  padding-left: 24px;
  padding-top: 2px;
  margin-top: 10%;
}

.languages-user {
  display: grid;
  justify-content: center;
  background-color: #d9d9d9;
  width: 100%; 
}

.languages-list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 1rem;
  text-align: center;
}

.languages-list > div {
  display: inline-block;
  min-width: 100px;
}

.grafics1-user h2,
.grafics2-user h2, 
.repo-user h2 {
  font-size: 1.4rem;
  color: #63027C;
  text-align: center;
}

.repo-user {
  width: 375px;
  position: absolute;
  right: 2rem; 
  margin-top: 20px;
}

.list-repos-user{
  background-color: #d9d9d9;
  gap: 8px;
  overflow-y: auto;
  max-height: 600px;
  width: 380px;
}

.list-repos-statis{
  background-color: #d9d9d9;
  gap: 8px;
  padding: 12px;
  overflow-y: auto;
  max-height: 250px;
}


/*Tela-Repositório */

.repos {
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding: 2rem;
  background-color: #fdfdfd;
  min-height: 100vh;
  max-height: 675px;
  margin-left: 210px;
}

.title-repo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #63027C;
  text-align: center;
}

.list-repo{
  
  background-color: #d9d9d9;
  padding: 8px;
  overflow-y: auto;
  
}
.list-repo > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  background-color: white; 
  padding: 2rem; 
}


.repo-card {
  background-color: #504f50;
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(31, 30, 30, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  transition: transform 0.2s ease;
}

.repo-card:hover {
  transform: translateY(-4px);
}

.repo-card button {
  background-color: #ad16d3;
  border: none;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.repo-card button:hover {
  background-color: #b4babe;
}

.repo-card p {
  margin: 0;
  margin-top: 10px;
  font-size: 1rem;
  color: #fff; 
  word-break: break-word;
}

/*Tela-statisticRepo*/

.pdf-repo {
  font-size: 14px;
  cursor: pointer;
  color: #f9faf9; 
  border: none; 
  background-color: #63027C;
  width: 140px; 
  height: 30px;
  top: 540px;
  left: 670px;
  border-radius: 200px;
  gap: 200px;
}
  
button:hover {
    background-color: #565656; 
    color: rgb(248, 245, 245)
}

.statistics-repo-title {
  font-size: 30px;
  font-weight: bold;
  color: #63027C;
  text-align: center;
  margin-bottom: 2rem;
}

.title-infos{
  font-size: 1.4rem;
  color: #63027C;
  text-align: center;
}

.date{
  direction: rtl;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 8px;
}

.graphics1-repo {
  padding: 1.2rem;
  margin-left: 10px;
  width: 500px;
  font-size: 18px;
  color: #63027C;
  text-align: center;
  margin-top: 70px;
}
.repo-statistics{
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: rgb(121, 116, 116);
  gap: 16px;
  margin-left: 210px;
  background-color: white;
}


